:root {
  --x: 10px;
}
.flex-major {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.major {
  flex: 1 1 25%;
  margin: 2% 4%;
  background-color: #d0e1f9;
  border-radius: var(--x);
  padding: var(--x);
  text-align: center;
  align-items: center;
}
.major .major_h3 {
  border-bottom: white solid 1px;
}
.major > ul > li > a {
  text-decoration: none;
}
.major > ul {
  list-style-type: none;
}
.major > ul > li {
  margin: var(--x);
}
input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
}
.title-h2 {
  text-align: center;
}
h2 {
  padding: var(--x);
  color: black;
}
section {
  background-color: white;
  padding-bottom: 2%;
  margin: var(--x);
  border-radius: var(--x);
}

.search {
  position: absolute;
  font-size: 1.2rem;
  right: 10px;
  width: 30%;
}
.creat {
  background-color: rgb(60, 47, 211);
  padding: 10px 15px;
  color: white;
  border: 1px solid gray;
  margin-top: 5px;
}
.insert-bonus {
  font-size: 1.2rem;
  width: 30%;
}

.fix {
  display: none;
  background-color: rgb(29, 197, 54);
  padding: 10px 15px;
  color: rgb(248, 248, 248);
  border: 1px solid gray;
  margin-top: 5px;
}
.edsc {
  display: none;
}

.edit,
.delete,
.save,
.cancel,
.add_h3,
.edit_h3,
.delete_h3,
.save_h3,
.cancel_h3,
.add_h2,
.edit_h2,
.delete_h2,
.save_h2,
.cancel_h2 {
  width: 35px;
  height: 35px;
  margin: 3px 5px;
  color: white;
  border: 0;
}
.edit,
.edit_h3,
.edit_h2 {
  background-color: #64a2e4;
}
.delete,
.delete_h3,
.delete_h2 {
  background-color: red;
}
.save,
.save_h3,
.save_h2,
.add_h3,
.add_h2 {
  background-color: greenyellow;
}
.cancel,
.cancel_h3,
.cancel_h2 {
  background-color: red;
}
.creat-bonus {
  display: none;
}
.show {
  display: inline-block;
}
.show-creat {
  display: block;
}
.btn {
  background-color: rgb(2, 78, 63);
  padding: 5px 5px;
  color: white;
  border: 1px solid gray;
  margin-top: 5px;
}
